<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Solution</title>

  <!-- Bootstrap Core CSS -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../css/grayscale.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
 <!-- Navigation -->

  <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="itemRemovedModal" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Item has been removed</h4>
              </div>
              <div class="modal-body">
                <p>Please place item back on sensor.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="turnOffAudio()">Turn off alarm</button>
              </div>
            </div>
            
          </div>
        </div>
        
      </div>

  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
           <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">5olution</span>
                </a>
            </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              <ul class="nav navbar-nav">
                  <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                  <li class="hidden">
                      <a href="#page-top"></a>
                  </li>
                  <li>
                    <a href='../index.html'>Home</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>
  <section id="item" class="margin-top-large text-center">
      <div>
          <div class="container">
              <div class="col-lg-8 col-lg-offset-2">
                <ul class="nav nav-tabs">
                  <li class='active'><a href="#myitems">My Items</a></li>
                  <li><a href="#schedule">Schedule</a></li>
                </ul>
              </div>
          </div>
      </div>
  </section>

</body>
<div class="tab-content">
  <div id="myitems" class="tab-pane fade in active">
    <section class='container'>
      <div class='row text-center'>
        <div class='col-md-12 margin-vert-small'>
          <form class='form-inline'>
            <div class='form-group'>
              <input type='text' id='objectName' class='form-control' placeholder='Object Name'></input>
            </div>
            <button type='button' data-toggle='modal' data-target='#wait' id='addButton'class='btn btn-primary'>Register</button>

          </form>

          <div class="modal fade" id="wait" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Waiting....</h4>
                </div>
                <div class="modal-body">
                  <p>Please place your object under the sensor</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

        <script type="text/javascript">
            // @param filename The name of the file WITHOUT ending
            function playSound(filename){   
                document.getElementById("sound").innerHTML='<audio autoplay="autoplay"><source src="' + filename + '.mp3" type="audio/mpeg" /><source src="' + filename + '.ogg" type="audio/ogg" /><embed hidden="true" autostart="true" loop="false" src="' + filename +'.mp3" /></audio>';
            }

        </script>

    <body>

        <button onclick="playSound('bing');">Play</button>  
        <div id="sound"></div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class='container'>
      <div class='row text-center'>
        <div class='col-md-8 col-md-offset-2 margin-vert-small'>
          <div class='panel panel-default'>
            <div class='panel-heading'><h4>Items</h4></div>
              <table id='objectHead' class='table table-bordered table-hover'>
              </table>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div id="schedule" class="tab-pane fade in text-center">
    <section class='container'>
      <div class='row text-center'>
        <div class='col-md-12 margin-vert-small'>
          <a href='itemlog.html' class='btn btn-primary'>Log History</a>
        </div>
      </div>
    </section>
  </div>
</div>



<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

<!-- jQuery -->
<script src="../js/jquery.js"></script>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../js/jquery.easing.min.js"></script>

<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

<!-- Custom Theme JavaScript -->
<script src="../js/grayscale.js"></script>
<script src="../js/socket.js"></script>
